
/*
	link to colour pallet	
	https://coolors.co/000000-fffffc-beb7a4-5c6b73-1c7c54 
*/
* {
	margin: 0;
	padding: 0;
	font-family:'Courier New', Courier, monospace;
}

body {
	background-color: black;
}

/* Start page styles */
.start__title {
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, 0);
	padding: 10px;
	padding-left: 7vw;
	padding-right: 7vw;
	border: 1vw solid #BEB7A4;
	border-radius: 10px;
	background-color: #FFFFFC;
}
.start__title h1 {
	font-size: 30px;
	font-family: monospace
}

.start__main {
	margin-top: 25vh;
	margin-left: 35vw;
	margin-right: 35vw;
	padding: 10px;
	background-color: #FFFFFC;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	height: 17vh;

	border-radius: 25px;
}

.start__main button {
	background-color: #BEB7A4;
	font-size: 20px;
	border: none;
	height: 5vh;
	transition: ease-in-out 0.5s all;
}
.start__main button:hover {
	background-color: #5C6B73;
	font-weight: bold;
	border-radius: 20px;
	
}


.start__main .start__login {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
.start__main .start__guest {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

/* login page styles */
.login__form {
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	background-color: #BEB7A4;
}
.login__form input, .login__form button {
	width: 50%;
	margin: 5px;
}

#invalid {
	color: red;
	font-size: 13px;
}

.login__form button {
	background-color: #5C6B73;
}

/* back button styles */
.back__button {
	left: 5vw;
	top: 5vh;
	position: absolute;

}

.back__button button {
	border: 1px solid #FFFFFC;
	color: #FFFFFC;
	font-size: 25px;
	padding: 10px;
	text-decoration: none;
	background-color: #000000;
	transition: ease-in-out 0.5s all;
}
.back__button button:hover {
	background-color: #FFFFFC;
	color: #000000;
}

/* sign up page styles */
.sign__main {
	margin-top: 25vh;
	margin-left: 35vw;
	margin-right: 35vw;
	padding: 10px;
	background-color: #FFFFFC;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	height: 22vh;

	border-radius: 25px;
}

.sign__main button {
	background-color: #5C6B73;
	font-size: 20px;
	border: none;
	height: 5vh;
	transition: ease-in-out 0.5s all;
}
.sign__main button:hover {
	background-color: #5C6B73;
	font-weight: bold;
	border-radius: 20px;
	
}

/* user info */
.userInfo {
	position: absolute;
	right: 5vw;
	top: 5vh;
	transform: translate(-50%, 0);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.userInfo h1 {
	color: white;
}

.userInfo .userInfo__stats p {
	color: white;
}

/* main page styles */
.main__title {
	position: absolute;
	left: 50%;
	top: 5%;
	transform: translate(-50%, 0);
	padding: 10px;
	padding-left: 7vw;
	padding-right: 7vw;
	border: 1vw solid #BEB7A4;
	border-radius: 10px;
	background-color: #FFFFFC;
}
.main__title h1 {
	font-size: 30px;
	font-family: monospace
}

.main__main {
	margin-top: 25vh;
	margin-left: 35vw;
	margin-right: 35vw;
	padding: 10px;
	background-color: #FFFFFC;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	height: 40vh;

	border-radius: 25px;
	border:20px solid #BEB7A4;
}

/* game page styles */
.game__main {
	margin-top: 30vh;
	margin-left: 30vw;
	margin-right: 30vw;
	padding: 10px;
	background-color: #FFFFFC;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	height: 50vh;

	border-radius: 25px;
	border:20px solid #BEB7A4;
}

.game__info {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, 0);
	padding: 10px;
	padding-left: 7vw;
	padding-right: 7vw;
	border: 1vw solid #BEB7A4;
	border-radius: 10px;
	background-color: #FFFFFC;
}
.game__info h1, .game__winner h1 {
	font-size: 20px;
	font-family: monospace;
}

/* game winner banner */
.game__winner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, 0);
	padding: 10px;
	padding-left: 7vw;
	padding-right: 7vw;
	border: 1vw solid #BEB7A4;
	border-radius: 10px;
	background-color: #FFFFFC;
	visibility: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.game__winner button {
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
}


.game__user__info {
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	justify-content: space-between;
}

.top__row {
	display: flex;
	flex-direction: row-reverse;
}
.top__left {
	padding-left: 20px;
}
.top__right {
	padding-right: 20px;
}

/* trying some special css */
.info__right , .info__left {
	display: flex;
	flex-direction: column;
}

.info__left{
	align-items:flex-start;
}
.info__right  {
	align-items:flex-end;
}

/* special css ended. Just trying to see if i can group things
	more so I don't have to rewrite code all over the place */

.main__game {
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	margin-top: 3vh;
	height: 40vh;
	
}

.game__row__1, .game__row__2, .game__row__3 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.game__button {
	border:none;
	width: 31%;
	height: 99%;
	background-color: lightgray;
	transition: ease-in-out 0.3s all;
}
.game__button:hover {
	background-color: grey;
}